<div class="center jumbotron">
  <h2>Last night as you slept I injected a neurotoxin in your neck.</h2>
  <h3>To find the anecdote you must follow a series of questions. Answer correctly, and you live.</h3>
  <p>
  <br />Write down your answers in order so if you get a wrong answer you can always see the last question.</p>
  <p>
  	<form action="<%= root_path %>" method="get">
  		<%= label_tag %>
  		<%= text_field_tag :answer, params[:answer] %>
  		<%= submit_tag "Check answer", :name => nil %>
  	</form>
  </p>

  <p>
  	<%= @response %>
  </p>
</div>
