<div class="center jumbotron">
  <h2>Happy Valentines Day, Alex!</h2>
  <h3>This is the scavenger hunt I know you've wanted to go on for a long time.</h3>
  <p>There is not a wedding ring at the end of this, but I hope you will enjoy it just the same.
  <br />Some of these questions will be easy. Some will be hard. Some questions will lead to instructions.
  <br />Write down your answers in order so if you get a wrong answer you can always see the last question.</p>
  <p>
  	<form action="<%= root_path %>" method="get">
  		<%= label_tag %>
  		<%= text_field_tag :answer, params[:answer] %>
  		<%= submit_tag "Check answer", :name => nil %>
  	</form>
  </p>

  <p>
  	<%= @response %>
  </p>
</div>